<!DOCTYPE html>
<html>
    <head>
        <title>Active record rules</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= yield :head %>

        <%= stylesheet_link_tag "active_record_rules/pico.min", media: "all" %>
        <%= stylesheet_link_tag "active_record_rules/application", media: "all" %>
    </head>
    <body>
        <main class="container">
            <%= yield %>
        </main>
    </body>
</html>
