<h1>Rules</h1>
<%= form_with method: :get, html: { role: 'group' } do |form| %>
    <%= form.select :model_name, @models, include_blank: "Select a model", selected: @model_name %>
    <%= form.text_field :record_id, value: @record_id, placeholder: "Enter an id" %>
    <%= form.submit "Find matches" %>
<% end %>
<% @rules_and_matches.each do |rule, match_count| %>
    <article class="rule">
        <header>
            <a class="rule-link"
               href="<%= url_for controller: 'rules', action: 'show', id: rule.id, model_name: @model_name, record_id: @record_id %>"
               role="group">
                <h2 title="<%= rule.name %>"><%= rule.name %></h2>
                <div class="timing timing_<%= rule.timing %>"><%= rule.timing.to_s.gsub('_', ' ') %></div>
            </a>
        </header>
        <details>
            <summary role="button" class="secondary">Show definition (<%= rule.source_location.delete_prefix("#{Rails.root}/") %>)</summary>
            <pre><%= rule.constraints_string %></pre>
        </details>
        <footer>
            <a class="rule-link" href="<%= url_for controller: 'rules', action: 'show', id: rule.id, model_name: @model_name, record_id: @record_id %>">
                <% if match_count == 1 %>
                    <%= match_count %> match
                <% else %>
                    <%= match_count %> matches
                <% end %>
            </a>
        </footer>
    </article>
<% end %>
